img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

#option-box {
    border: 2px solid green;
    overflow: auto;
}

#hero-box {
    border: 2px solid blue;
    overflow: auto;

}

#enemy-box {
    border: 2px dashed magenta;
    overflow: auto;
    clear: both;
}

#challenger-box {
    border: 5px solid red;
    overflow: auto;
}

.red-border {
    border: 10px solid red;
}