img {
    width: 200px;
    height: 200px;
}
/*
#option-box {
    border: 2px solid green;
    overflow: auto;
} 

#hero-box {
    overflow: auto;
}


#enemy-box {
    border: 2px dashed magenta;
    overflow: auto;
    clear: both;
    width: 550px;
    height: 175px;
} 

#challenger-box {
    overflow: auto;
}
*/
.red-border {
    border: 10px solid red;
}