body {
    background: url("https://pre00.deviantart.net/b8f3/th/pre/f/2012/361/c/2/equestria__the_beginnings_by_silentmatten-d5p4dwl.png");
}

img {
    width: 200px;
    height: 200px;
}

.red-border {
    border: 10px solid red;
}